/* 

    Document   : style

    Created on : Nov 16, 2012, 5:19:30 AM

    Author     : vadim24816

    Description:

        Purpose of the stylesheet follows.

*/



body {

  background: url(../images/test-bg.jpg) #0a1d35;

  background-color: #0a1d35;

  color: white;

}

div#slots {

  position: relative;

  width: 900px;

  height: 700px;

  z-index: 1;

  margin: 0 auto 100px auto;

}

div.slots-reel {

  position: absolute;

  top: 125px;

  z-index: 1;

  width: 100px;

  height: 375px;

  background: #000;

  overflow: hidden;

}

div#slots-reel1 {

  left: 125px;

}

div#slots-reel2 {

  left: 237px;

}

div#slots-reel3 {

  left: 349px;

}



div#slots-body {

  position: absolute;

  top: 0;

  left: 0;

  z-index: 2;

  width: 900px;

  height: 655px;

  background: url(../images/bsm-body.png);

}    



div#slots-body > * {

  position: absolute;

  z-index: 3;

  overflow: hidden;

}        



img#slots-logo {

  top: 60px;

  left: 96px;

}

img#slots-paytable {

  top: 162px;

  left: 638px;

}



div.slots-display {

  font-family: Tahoma, Arial, Helvetica, sans-serif;

  text-align: center;

  color: #3986ff;

  text-shadow: 0 0 6px #2982f2, 0 0 1px #2982f2;

}



div#slots-address {

  top: 534px;

  left: 578px;

  width: 232px;

  height: 24px;

  padding-top: 4px;

  font-size: 13px;

  letter-spacing: -1px;

}



div#slots-balance {

  top: 578px;

  left: 578px;

  width: 112px;

  height: 29px;

  padding-top: 5px;

  font-size: 16px;

  font-weight: bold;

  text-align: right;

}  

div#slots-bet {

  top: 516px;

  left: 242px;

  width: 92px;

  height: 36px;

  padding-top: 6px;

  font-size: 22px;

  font-weight: bold;

}       



button.slots-button {

  background: url(../images/bsm-buttons.png);

  border: 0;

  cursor: pointer;

  outline: none;

}



button.slots-plus {

  left: 348px;

  width: 25px;

  height: 26px;

  background-position: 0 0;

}

button.slots-plus:hover {

  background-position: -25px 0;

}

button.slots-plus:active {

  background-position: -50px 0;

}



button.slots-minus {

  left: 203px;

  width: 25px;

  height: 26px;

  background-position: 0 -26px;

}

button.slots-minus:hover {

  background-position: -25px -26px;

}

button.slots-minus:active {

  background-position: -50px -26px;

}



button#slots-plus001, button#slots-minus001 {

  top: 486px;

}

button#slots-plus01, button#slots-minus01 {

  top: 513px;

}

button#slots-plus1, button#slots-minus1 {

  top: 540px;

}



button#slots-spin {

  top: 515px;

  left: 461px;

  width: 98px;

  height: 98px;

  background-position: 1px -191px;

}

button#slots-spin:hover {

  background-position: -97px -191px;

}

button#slots-spin:active {

  background-position: -195px -191px;

}



button.slots-bottombutton {

  top: 570px;

  width: 108px;

  height: 46px;

}



button#slots-lastbet {

  left: 121px;

  background-position: 0 -98px;

}

button#slots-lastbet:hover {

  background-position: -108px -98px;

}

button#slots-lastbet:active {

  background-position: -216px -98px;

}



button#slots-maxbet {

  left: 233px;

  background-position: 0 -52px;

}

button#slots-maxbet:hover {

  background-position: -108px -52px;

}

button#slots-maxbet:active {

  background-position: -216px -52px;

}



button#slots-autoplay {

  left: 345px;

  background-position: 0 -144px;

}

button#slots-autoplay:hover {

  background-position: -108px -144px;

}

button#slots-autoplay:active {

  background-position: -216px -144px;

}

button#slots-autoplay.active {

  background-position: -216px -144px;

}



button#slots-cashout {

  top: 571px;

  left: 709px;

  width: 82px;

  background-position: -75px 0;

}

button#slots-cashout:hover {

  background-position: -157px 0;

}

button#slots-cashout:active {

  background-position: -239px 0;

}        



div.slots-line {

  width: 100px;

}

div.slots-line > div {

  width: 100px;

  height: 125px;

}

div.slots-symbol0 {

  background: url(../images/bsm-symbol-nwo.png);

}    

div.slots-symbol1 {

  background: url(../images/bsm-symbol-bitcoin.png);

}    

div.slots-symbol2 {

  background: url(../images/bsm-symbol-anon.png);

}    

div.slots-symbol3 {

  background: url(../images/bsm-symbol-onion.png);

}    

div.slots-symbol4 {

  background: url(../images/bsm-symbol-anarchy.png);

}    

div.slots-symbol5 {

  background: url(../images/bsm-symbol-peace.png);

}    

div.slots-symbol6 {

  background: url(../images/bsm-symbol-empty.png);

}

    

/* display styling added 13.11.12: */    

div#slots-status {

  position: absolute;

  top: 649px;

  /*top: 500px;*/

  left: 146px;

  width: 538px;

  height: 119px;

  overflow: hidden;

  background: url(../images/bsm-info-display.png) top center;

}

div#slots-status-display {

  position: absolute;

  width: 346px;

  height: 26px;

  padding: 0 0 0 0;

  left: 135px;

  top: 54px;

  font-family: Tahoma, Arial, Helvetica, sans-serif;

  text-align: center;

  font-size: 17px;

  line-height: 1;

  color: #3986ff;

  text-shadow: 0 0 6px #2982f2, 0 0 1px #2982f2;      

}

div#statistic{

    position: absolute;

  top: 786px;

 left:235px;



  width: 370px;

  font-family: Tahoma, Arial, Helvetica, sans-serif;

  color: #7f8388;
 

}

div#full_list_page{
    position: relative;
    margin: 0 auto;
    width: 370px;

    font-family: Tahoma, Arial, Helvetica, sans-serif;

    color: #7f8388;
}

div#statistic a, div#prev_and_next a{

  color: #3986ff;

  font-family: Tahoma, Arial, Helvetica, sans-serif;

}

div.transactions, div#prev_and_next{

  position: relative;

  margin: 0 auto;

  /*width: 400px;*/

}

div#prev_and_next{

  width: 370px;

}



.table_header{
	font-size: 14px;
	  font-weight: bold;

  

}

.table{

 /* border-style: hidden; 
  

  border-collapse: collapse; 

  border-color: white;

  width: 100%;

  color: white;

  margin-bottom: 5px;*/

  /*width: 400px;*/
  
  
  border-width: 1px;
	border-spacing: 2px;
	border-style: hidden;
	
	border-collapse: collapse;
	 text-align: center;
  font-size: 12px;
 
	

}

.table td {
	/*border-style: dotted;

  padding: 2px;*/
  
  
  border-width: 1px;
	padding: 2px;
	border-style: dashed;
	border-color: #812d2e;
	background-color: #031834;
	
	
	

}

.deposit{

  

  color:#812d2e;
  font-weight: bold;

}

.withdrawn{

  

  color:#4f6b2a;
    font-weight: bold;

}



div#verify{

  /*z-index: 3;*/

  position: absolute;

  top: 786px;

  left: 0px;

  width: 200px;

  height: 200px;

  font-family: Tahoma, Arial, Helvetica, sans-serif;

  color: #7f8388;

}

div#verify input{

  font-family: Tahoma, Arial, Helvetica, sans-serif;

  cursor: default;

}

div#verify input#client_seed{

  cursor: text;

}

div#verify label{

  display: inline-block;

}

.modal-backdrop{

  opacity: 0.4;

}

div#verify div.verify_field{

  width: 220px; 

}

div#verify div.verify_field label.field_name{

  float: left;

}

div#verify div.verify_field span.field_question{

  float: right;

  cursor: pointer;

}

div#verify .popover{

  color: #000;

}

/*------REGISTRATION---------*/
div#register{
  position: absolute;
  top: 666px;
  right: 50px;
  /*width: 125px;*/
  padding: 0px 70px 0px 40px;
}

.error_box {
  background:#FAD3C4;
  border:1px solid #A75B4E;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  color:#444444;
  display:none;
  font-size:13px;
  margin:0px 0px 15px 0px;
  padding:8px 8px;
  width:440px;
}

.success_box {
  background:#E2F1BB;
  border:1px solid #598800;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  color:#000000;
  display:none;
  font-size:13px;
  margin:0px 0px 15px 0px;
  padding:8px 8px;
  width:440px;
}
/*------/REGISTRATION---------*/

div#affiliates{
  margin: 0 auto;
  color: white;
  width: 600px;
}
div.to_affiliates{
  position: absolute;
  top: 735px;
  right: -14px;
  /*width: 125px;*/
  padding: 0px 70px 0px 40px;
}